@charset "UTF-8";
html,body {
  height: 100%; margin: 0px; padding: 0px; }

#navbar {
  margin-bottom:0; }

.alert {
  border-radius: 0; }

.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border:none; }


body{
	font-family: 'Roboto', sans-serif;
	color: #343A40;
    padding: 0;
    margin: 0;
}

h1{
	color: #F9c201;
	font-weight: 700;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	font-size: 40px;
	font-family: 'Nunito Sans', sans-serif;
}
h2{
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 700;
	padding-top: 50px;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	font-family: 'Nunito Sans', sans-serif;
}
h3 {
	padding-top: 20px;
	font-family: 'Nunito Sans', sans-serif;
}

h4{
	color: #343A40;
	font-weight: 700;
	font-family: 'Nunito Sans', sans-serif;
	padding-top: 10px;
}

h5 {
	color: #D2D2D2;
	font-weight: 500;
	font-family: 'Nunito Sans', sans-serif;
}

.home-title{
	text-align: center;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 50px;
}
.home-title-inv{
		text-align: center;
}
.home-title-inv span{
	border-top: thick solid #FFFFFF;

}
.home-title span{
	border-top: thick solid #F8C12D;
}
.navbar{
	background-color: #F9C201 !important;
	font-size: 1em;
	font-weight: 500;
}
.home-nav .active a:hover {
	background-color: #343A40;
	color: black;
	margin:  0;
}
.home-nav a{
	color: white !important;
}
.home-nav{
	margin: 0;
}
.nav-col{
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 30px;
	position: relative;
	top: 20px;
	z-index: 1;
}
.home-text{
	text-align: justify;
	margin-top: 0px;
	margin-bottom: 45px;
}
.container-fluid.home-services {
	background-color: #F9C201;
	padding-bottom: 15px;
}
.container.marketing .row .col-lg-4.marketing-tile {
	text-align: center;
}

.carousel-item img{
	width: 100%;
}
.team-tile {
	text-align: center;
}
.team-band {
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: #F3F3F3;
    margin-top: 0px;
}

.band-carousel{
	padding: 0;
}

.featured-image{
	display: block;
	width: 100%;
	height: auto;
}
.featured-overlay{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
	opacity: .5;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.featured-item:hover .featured-overlay{
	height: 100%;
}

.featured-item{
	padding: 0;
}

.featured-text{
    color: white;
	z-index: 9;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.subscribe-band {
	background-color: #F9C202;
	padding-top: 30px;
	padding-bottom: 30px;
}

.subscribe-bar {
	text-align: left;
	margin: 0;
	padding: 0;
	background-color: #B6B6B6;
	
}
.footer-band {
	background-color: #141927;
	margin-bottom: 0px;
	padding: 0;
}
.footer-end {
	background-color: #10121E;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px #1F255C;
	font-size: small;
	letter-spacing: 2px;
}
.affiliations {
	background-color: #FFFFFF;
}
.row.footer-row .col-lg-4.footer-left .row.p-4.footer-logo {
	text-align: left;
	float: right;
}
.footer-contact a {
	color: #9D9D9D;
	font-size: 16px;
	text-decoration: none;
}
.footer-logo {
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}
.signature {
	padding: 5px;
	margin: 0;
	color: #3E3E3E;
}
.btn-lg{
    background-color: #F9c201;
}


/*Footer*/

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #141927; !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}



/*Mobile Devices*/
@media (max-width: 775px){
    .flex-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4{
        padding: 10px;
    }
    
    .carousel-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 100%;
        padding-top: 50px;
        margin: 0px;
    }
    .btn-lg{
        display: none;
    }
    .carousel-headline{
        font-size: 3em;
        filter: drop-shadow(4px 1px 38px #000)
    }
    .carousel-text{
        display: none;
    }
}
/*Tablet Devices*/
@media (min-width: 776px) and (max-width: 1198px){
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .flex-item-1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px;
    }
    .flex-item-2{
        margin-right: 5%;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px
        
    }
    .flex-item-3{
        margin-left: 5%;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px
    }
    .flex-item-4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px
    }
    
    .carousel-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        height: 100%;
        padding-top: 50px;
        margin: 0px;
    }
    
    .carousel-caption-one{
        align-items: flex-end;
    }
    .btn-lg{
        padding: 5px;
        font-size: 15px;
    }
    .carousel-headline{
        font-size: 3em;
        filter: drop-shadow(4px 2px 38px #000)
    }
    .carousel-text{
        filter: drop-shadow(4px 2px 39px #000);
        font-size: 19px;
    }
    .home-who-img {
	margin-top: 15px;
    }
}
/*Desktop Devices*/
@media (min-width: 1200px){
    .flex-container{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
		padding-top: 10px;
    }
    .flex-item-1{
        margin-right: auto;
    }
    .flex-item-2{
	margin: 10px;
	padding: 8px;
	width: 15%;
	text-align: left;
    }
    .flex-item-3{
        margin: 10px;
        padding: 8px;
        width: 15%;
    }
    .flex-item-4{
        width: 15%;
        justify-content: center;
    }
        .carousel-caption{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        height: 100%;
        padding-top: 50px;
        margin: 0px;
    }
    
    .carousel-caption-one{
        align-items: flex-end;
    }
    .btn-lg{
        padding: 5px;
        font-size: 15px;
    }
    .carousel-headline{
        font-size: 3em;
        filter: drop-shadow(8px 2px 28px #000)
    }
    .carousel-text{
        filter: drop-shadow(8px 2px 29px #000);
        font-size: 19px;
    }
    .home-who-img {
	margin-top: 15px;
    }
}

